* {
    padding: 0%;
    margin: 0%;
}

body {
    margin: 0%;
    padding: 0%;
}


header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 13vh;
    background-color: #2274A5;
    color: white;
}

main {
    width: 100%;
    height: 80vh;
    background-color: #8BCDF3;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#icones {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    height: 50px;
    
}

.icone:hover,
#help:hover {
    transition: 0.3s;
    transform: scale(1.2);
}

.icone {
    width: 50px;
    height: 50px;
}

input {
    width: 35%;
    border-radius: 10px;
    border: 0px;
    height: 35px;

}

#pesquisa {
    width: 35%;
    border-radius: 10px;
    border: 0px;
    height: 35px;
    font-size: 16px;
    padding-left: 10px;
    font-family: 'Corben', cursive;
    background-color: rgb(255, 255, 255);
    color: #808080;
}









#pefil_botao {
    display: flex;
    flex-direction: column;
}

#persona {
    width: 35vh;
    border: 0%;
    border-radius: 25px;
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

button {
    height: 60px;
    width: 160px;
    border-radius: 10px;
    border: 0px;
    background-color: #07CB97;
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin-top: 40px;
    font-family: 'Corben', cursive;
}

button:hover {
    background-color: #09d7a0;
    color: #ffffff;
}

#tabelas {
    display: flex;
    justify-content: space-evenly;
   
}

#tabela_dados {
    margin-right: 100px;
}

#nome_tabelas {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    font-family: 'Corben', cursive;
}

table {
    border-collapse: 2px separate rgb(0, 0, 0);
    display: flex;
    font-size: 13px;
    font-family: 'Corben', cursive;

}

table td, table th {
    padding: 8px;
}

tr {
    display: flex;
    flex-direction: column;
    border: 3px solid #8BCDF3;
}

#coluna_impar {
    background-color: #DFDFDF;
}

#coluna_par {
    background-color: #FFFFFF;
}

#coluna_classe {
    background-color: #B5B5B5;
}

#perfil_botao {
    display: flex;
    align-items: center;
    justify-content: center;
}






footer {
    background-color: #2274A5;
    color: white;
    bottom: 0%;
    position: absolute;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 7vh;
    padding: 0px;
}

#fortes {
    margin-left: 20px;
    width: 100px;
}

footer p {
    font-size: 25px;
    font-family: 'Corben', cursive;
}

#help {
    margin-right: 20px;
    height: 30px;
    width: 30px;
}